*{
    padding: 0px;
    margin: 0px;
}
#logo {
    margin-top: 50px;
    margin-left: 70px;
    width: 300px;
    position: absolute;
  }

header{
   text-align: center;
}

.imagem{
    max-width: 100%;
}

main{
    background-color: #8DA8D3;
    padding-bottom: 121px;
}

form{
    margin: auto;
    max-width: 900px;
}

.barra{
    margin: auto;
    max-width: 100%;
    width: 875px;
    height: 35px;
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
    margin-bottom: 20px;
    font-size: 16px; 
}

#titulo{
    padding-top: 50px;
    text-align: center;
    font-size: 27px;
    font-family: Arial, Helvetica, sans-serif;
    color: #333333;
}

h3{
    font-family: Arial, Helvetica, sans-serif;
    color: #333333;
}

#dia{
    width: 60px;
    height: 40px;
}

#mes{
    width: 60px;
    height: 40px;

}

#ano{
    width: 80px;
    height: 40px;
}
button{
    height: 50px;
    width: 200px;
    margin-left: 330px;
    margin-top: 100px;
  
}

footer{
    text-align: center;
}
