@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
}

/* rolagem dos elementos*/
html{
scroll-behavior:smooth ;
}

/*remover a barra de rolagem*/
::-webkit-scrollbar {
  display: none;
}

/*cabeçario*/
.aa {
  transition: 0.4s;
  font-size: 20px;
  color: rgb(0, 0, 0);
  text-decoration: none;
  transition: 0.s;
}

.aa:hover {
  opacity: 0.4;
  color: rgb(45, 179, 212);
  
}

.logo {
  height: 45px;
}
header{
background-color: white;
}

nav {
 margin: 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: white;
  height: 80px;
}


.nav-list {
 
  list-style: none;
  display: flex;
}

.nav-list li {
  margin-left: 50px;
}

.mobile-menu {
  display: none;
  cursor: pointer;
}

.mobile-menu div {
  width: 32px;
  height: 2px;
  background: rgb(0, 0, 0);
  margin: 8px;
  transition: 0.3s;
}

@media (max-width: 999px) {
  body {
    overflow-x: hidden;
  }
  .nav-list {
    position:fixed;
    top: 8vh;
    right: 0;
    width: 45vw;
    height: 50vh;
    background: #ffffff;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
  }
  .nav-list li {
    margin-left: 0;
    opacity: 0;
  }
  .mobile-menu {
    display: block;
  }
}

.nav-list.active {
  transform: translateX(0);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.mobile-menu.active .line1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
  opacity: 0;
}

.mobile-menu.active .line3 {
  transform: rotate(45deg) translate(-5px, -7px);
}

/*carrocel de imagens */
#carrosel {
  max-width: 85%;
  margin: auto;
  margin-bottom: 150px;
  min-width: 375px;
}


.carousel-inner {
  width: 100%;
}
@media (max-width: 1000px) {
  #carrosel {
    max-width: 100%;
    margin: auto;
    margin-bottom: 150px;
    
  }
  
  }
/*cards*/
main {
  padding-top: 50px;
  background-color: #FFFFFF;
}

#painel {
  background-image: linear-gradient(to right, #176880, #3b9ba2);
  background-color: #5A84A8;
  width: 100%;
  height: 550px;
  position: absolute;
} 

#consultas {
  position: relative;
  font-size: 50px;
  text-align: center;
  padding-top: 50px;
  margin-bottom: 140PX;
  color: white;
}

.card {
  border: 10px solid rgb(207 22 22 / 13%);
  margin: auto;
  height: 450px;
  width: 280px;
}
@media (max-width: 600px) {
  .card {
    border: 10px solid rgb(207 22 22 / 13%);
    margin: auto;
    height: 400px;
    width: 210px;
  }
  }

.card-title {
  font-size: 25px;
}

.card1 {
  text-decoration: none;
}

.card1:hover {
  text-decoration: underline;
}

h5 {
  color: #4AA6E2;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 30px;
}

p {
  color: #877070;
  text-align: center;
}

.row {
  margin-bottom: 10em;
}

/*sobre nos*/

#painel-sobre {
  margin: auto;
}

#carouselExampleCaptions {
  margin: auto;
  display: flex;
  position: relative;
  max-width: 1000px;
  min-height: 400px;
}




#sobre-nos>h3 {
  color: #3b9ba2;
}

#sobre-nos>p {
  text-align: left;
  color: black;
}

.listinha {
  background-image: linear-gradient(to right, #4AA6E2, #cf5c86, #9c648c);
  height: 8px;
}

/*rodape*/
footer {
  height: 400px;
  background-image: linear-gradient(to right, #3b8da2, #175a80);
}

#rodape{
  margin-bottom: 0px;
}

#logo-rodape {
  text-align: center;
  margin: auto;
}

#logo-rodape>img {
  margin-top: 0px;
  width: 70px;
  margin-bottom: 100px;
}

.col>.h2-rodape {
  font-size: 23px;
  color: white;
  text-align: center;
}

.col>p {
  color: rgb(31, 28, 28);
  text-align: center;
}

.col>p>a {
  color: rgb(31, 28, 28);
  text-align: center;
}

.rede-Sociais {
  height: 25px;
  padding-left: 10px;
}

.insta {
  height: 30px;
}