@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
}

::-webkit-scrollbar {
  display: none;
}

.headerCustom {
  background-color: #0054B7;
  box-shadow: -3px 5px 10px rgb(0 0 0 / 49%);
}

.headerCustom>.nav>.nav-item>a {
  color: #fff;
}

.headerCustom>.nav>.nav-item>a:hover {
  background-color: #2a79d2;
}

.nav {
  height: 75px;
  padding-top: 9px;
  padding-right: 100px;
}

.nav-item {
  padding-left: 18px;
  font-size: 20px;

}

#logo {
  margin-top: 2px;
  margin-left: 100px;
  width: 255px;
  position: absolute;
}

main {
  padding-top: 50px;
  background-color: #FFFFFF;

}

#consultas {
  font-size: 50px;
  text-align: center;
  padding-top: 50px;
  margin-bottom: 50PX;
  color: #0054B7;
}

.card {
  border: 10px solid rgb(207 22 22 / 13%);
  margin: auto;
  height: 400px;
  width: 280px;

}

.card1 {
  text-decoration: none;
}

.card1:hover {
  text-decoration: underline;
}

h5 {

  text-align: center;
  padding-top: 15px;
  padding-bottom: 30px;
}

p {
  color: #877070;
  text-align: center;
}

.row {
  margin-bottom: 10em;
}

.row>h1 {
  color: #0054B7;
}

.listinha {
  height: 8px;
  background-color: #FFB900;
}

footer {
  background-color: #0054B7;
}

#rodape {
  margin-bottom: 0px;
}

#h1rodape {
  padding-top: 30px;
  padding-bottom: 15px;
  text-align: center;
  color: white;

}

.col>h2 {
  font-size: 23px;
  color: white;
  text-align: center;
}

.col>p {
  color: #FFB900;
  text-align: center;
}

.col>p>a {
  color: #FFB900;
  text-align: center;
}

.redeSociais {
  height: 25px;
  padding-left: 10px;
}

.insta {
  height: 30px;
}